@model WebApplication1test1.Models.CrazyTable

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>crazyTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Crazy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crazy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CrazyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CrazyDate)
        </dd>
    </dl>

    @* ReSharper disable UnknownCssClass *@
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @* ReSharper restore UnknownCssClass *@
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "ShowAll")
        </div>
    }
</div>

@*copyright notice using last modified date for each view on it's own*@
@section copyWrite
    {
    @File.GetLastWriteTime(Server.MapPath(VirtualPath)).ToLongDateString()
}